{% extends "template.html" %}
{% block head %}
<script type="text/javascript">
  function wget() {
     var url = document.getElementById("input-url").value;
     if(url !== "") {
         if(!url.match(/http/)) {
            url = 'http://' + url;
         }
         window.open("http://52.14.58.146:8080/openpage?foruri=" + encodeURIComponent(url),"_self");
     }
     else {
        document.getElementById("error-msg").innerHTML = "URL is required..!";
     }
  }
</script>
{% endblock %}
{% block body %}
{% if 'renarratorname' in session %}
<h4 class="text-right" id="welcome_desc">Welcome! to renarrate a page. You are logged in as {{ session["renarratorname"] }}</h4>
<p class="text-right" id="logout">Click <a href="/logout">here</a> to logout</p>
<div>
  <form id="urlform" class="form-horizontal" role="form" onload="form.reset();">
    <div class="form-group">
      <label for="input-url", class="col-xs-4 control-label">URL:</label>
      <div class="col-xs-4">
        <input type="text" class="form-control", id="input-url", placeholder="Enter url" />
        <p class="text-danger" id="error-msg"></p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-offset-5 col-xs-9">
        <button type="button" class="btn btn-default", id="btn-submit", onclick="wget();">Renarrate</button>
        <input type="reset" class="btn btn-default" /><br/><br/>
      </div>
    </div>
  </form>
</div>
{% endif %}
{% endblock %}
