{% extends "template.html" %}
{% block body %}
<div id="loginbox" style="margin-top:0px;width:40%;margin:auto;" class="mainbox">
  <div class="panel panel-info" style="border-color: #0f0f5c;">
    <div class="panel-heading" style="background-color: #0f0f5c;border-color: #0f0f5c;color: white;">
      <div class="panel-title">Sign In</div>
    </div>     
    <div style="padding-top:30px" class="panel-body" >
      <form id="loginform" class="form-horizontal" role="form" method="post" action="/login" onload="form.reset();">
        {{ form.csrf_token }}
        <div style="margin-bottom: 25px" class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          {{ form.username( class="form-control", id="login-username", placeholder="username or email" )}}               
        </div>
        
        <div style="margin-bottom: 25px" class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          {{ form.password( class="form-control", id="login-password", placeholder="password" )}}
        </div>
        
        <div style="margin-top:10px" class="form-group">
          <div class="col-xs-12 controls">
            <span class="glyphicon glyphicon-log-in"><span>
            {{ form.login( class="btn btn-default", id="btn-login" )}}
            <input type="reset" class="btn btn-default" />
          </div>
        </div>
        
        <div class="form-group">
          <div class="col-xs-12 control">
            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
              Don't have an account! 
              <a href="http://0.0.0.0:8080/register">Sign Up Here</a>
            </div>
          </div>
        </div>    
      </form>
      {% if error %}
      <div class = "alert alert-danger">{{ error }}</div>
      {% endif %}
    </div>
  </div>  
</div>
{% endblock %}
