<!DOCTYPE html>
<html lang="en">
  <head>
    <title>sss-renderer</title>
    <!------------------- Favicon ------------------------>
	<link rel="shotcut icon"
  href="https://res.cloudinary.com/phonerefer/image/upload/v1579606010/n1az7e5zbg1ol2yxltag.png">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'style.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    {% block head %} {% endblock %}
  </head>
  <body>
    <div class="container-fluid">
      <header>
        <div class="container-fluid bg-2 text-center">
          <h3>SSS Renderer Studio</h3>
          <div class="text-right"><a href="/" id="home">Home</a></div>
        </div>
      </header>
      <div class="jumbotron">
        <h3 id="sssrenderer-header">SSS-Renderer</h3>
        <p id="sssrenderer-desc">SSS-Renderer application allows varied users to view the
           available alternate (or variant) views of some original source. The renderer
           tool takes in the Semantic Style Sheet (SSS) document and creates the alternate
           view for the user.
        </p>
      </div>
      {% block body %}{% endblock %}
      <br>
      <footer class="text-center">
        <p>Posted by: Sai Gollapudi</p>
        <p>Contact information: <a href="mailto:saigollapudi1@gmail.com">saigollapudi1@gmail.com</a></p>
      </footer>
    </div>
    {% block script %} {% endblock %}
  </body>
</html>
