{% extends "template.html" %}
{% block body %}
{% if 'username' in session %}
<h4 class="text-right" id="welcome_desc">Welcome! to view the renarration of a page. You are logged in as {{ session["username"] }}</h4>
<p class="text-right" id="logout">Click <a href="/logout">here</a> to logout</p>
<div>
  <form id="urlform" class="form-horizontal" role="form" method="post" action="/urlform" onload="form.reset();">
    {{ form.csrf_token }}
    <div class="form-group">
       {{ form.url.label( for="url", class="col-xs-4 control-label") }}
       <div class="col-xs-4">
         {{ form.url( class="form-control", id="input-url", placeholder="Enter url" )}}
         {% for message in form.url.errors %}
         <div class="text-danger" >{{ message }}</div>
         {% endfor %}
       </div>
    </div>
    <div class="form-group">
      <div class="col-xs-offset-5 col-xs-9">
         {{ form.submit( class="btn btn-default", id="btn-submit" )}}
         <input type="reset" class="btn btn-default" /><br/><br/>
      </div>
    </div>
  </form>
</div>
{% endif %}
{% endblock %}
